*{
    text-align: center;
    background-color: whitesmoke;
    scroll-behavior: smooth;
    margin:0;
    padding: 0;
}
nav{
  position: sticky;
  top:0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
ul{
    display: flex;
    justify-content: end;
    gap: 0.5rem;
    height: 5vh;
}

li, .logo {
    display: inline-block;
    padding: 5px;
    font-size: larger;
    font-family:'Times New Roman', Times, serif
}

.image{
    grid-area : image
}
.info{

    grid-area : info
}
.title{
    grid-area : title
}

#home{
    display: grid;
    grid-template: 
    "title" 22%
    "image" 32%
    "info"  42%;
    place-items: center;
}

#about, #skills{
    display: grid;
    grid-template: 
    "image info" 96%;
    place-items: center;
}

#contact{
display: grid;
grid-template: 
"image" 70%
"info" 26%;
place-items: center;
}
.com-section{
    /* display: grid; */
    /* place-items: center; */
    background-color: whitesmoke;
    height: 95vh;
    /* grid-template-columns: 200px 400px; */
    /* grid-template-rows: 100px 300px; */
    /* grid-template-columns: repeat(2, 1fr); */
}
.material-symbols-outlined{
    visibility: hidden;
}

/* Media query side  small scrren*/
@media only screen and (min-width :325px) and (max-width: 470px){
    .name{
        display: none;
    }
    .material-symbols-outlined{
        visibility: visible;
    }

    #about, #skills{
        grid-template: 
        "image " 43%
        "info " 43%;

      }     

}

@media only screen and (min-width :470px) and (max-width: 1200px){
    *{
        font-size: 25px;
    }
    #about, #skills{
        grid-template: 
        "image " 43%
        "info " 43%;

      } 

}

@media only screen and (min-width :1200px) and (max-width: 1600px){

}
